.footer {
	z-index: 100;

	width: 100vw;
   	height: 5vh;
	padding-bottom: 2vh;

    background-color: var(--cilly-accentgray);

	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    color: var(--cilly-white);
	text-align: center;
}

.footer-content {
	width: 100%;
}