.divider {
	max-height: inherit;
	margin: 0;
	margin-bottom: 0.5vh;
	padding: 0;

	font-family: 'Times New Roman', Times, serif;
	font-size: 32pt; /*this font-size is declared as a fallback in case vh isn't accepted by the browser*/
	font-size: 5vh;
	color: var(--cilly-accentgray);
}

.navbar {
    display: block;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 100;

	height: fit-content;
	padding: 0px;

	background-color: var(--cilly-white);
}

.navbar-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5vw;
	justify-content: space-between;

	max-height: 10vh;
	padding: 0.5vh;
	padding-left: 10vw;
	padding-right: 10vw;
}

.navbar-logo {
	height: 5vh;
	max-width: 64px;
}

.navbar-title {
	margin-bottom: 0.25vh;

	font-size: 24px; /*this font-size is declared as a fallback in case vh isn't accepted by the browser*/
	font-size: 3.5vh;
	font-weight: bold;
}

.navbar-label {
    display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	padding: 0;
}

.navbar-burger {
	display: block;
}

.navbar-menu {
    display: flex;
	align-items: center;
	gap: 10px;

	max-width: fit-content;
	padding: 0;
}

.navbar-menu-item {
    display: flex;
	align-items: center;
	gap: 10px;

	max-width: fit-content;
	padding: 0;
}

.navbar-current {
	font-size: 24px; /*this font-size is declared as a fallback in case vh isn't accepted by the browser*/
	font-size: 3vh;
	font-weight: bold;
}

.navbar-link {
	font-size: 24px; /*this font-size is declared as a fallback in case vh isn't accepted by the browser*/
	font-size: 3vh;
}