.sidecard {
    display: flex;
    align-items: center;

    position: relative;
    

    height: 100%;
    max-height: 60vh;
    min-width: 80vw;
    max-width: 90vw;
    border-radius: 20px;
    padding: 5vh;

	background-color: var(--cilly-white);
    box-shadow: 0px 0px 25px -5px var(--cilly-jetblack);

    font-size: 24px;
	text-align: center;
}

.sidecard-left {
    justify-content: right;

    left: -20px;
    align-self: flex-start;
}

.sidecard-right {
    flex-direction: row-reverse;
    justify-content: left;

    right: -20px;
    align-self: flex-end;
}

.sidecard-content {
	font-size: 24px;
}